*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    color: black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    width: 70%;
    /* padding: 1em; */
    text-align: left;
    border: 1px solid gainsboro;
    margin:16px auto;
}

h1 {
    font-size: 20px;
}

.cabecera{
    background: #3639A0;
    color:white;
    box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.75);
    margin: 0;
    padding: 0.5em;
    font-weight: bold;
}

.cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

.post{
    padding: 1em;
}